# Build klasörleri
[Bb]in/
[Oo]bj/


!bin/Debug/net10.0-windows/scooter.png
!bin/Release/net10.0-windows/scooter.png


# Visual Studio dosyaları
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db
